body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #e5e7eb; /* light gray background */
  }
  
  .sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 200px;
    padding: 30px 20px; /* Added top padding */
    background-color: #e5e7eb;
    height:  calc(100vh - 70px);;
    display: flex;
    flex-direction: column;
    gap: 30px; /* Increased gap between options */
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.05);
    z-index: 1000;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    margin-top: 5px; /* optional minor individual spacing */
  }
  
  
  .menu-item .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-item.active {
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 700;
  }
  
  .text-wrap {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
  }
  
  .bg-purple {
    background-color: #8a70f0;
  }
  
  .bg-light-purple {
    background-color: #e0dcfd;
  }
  
  .bg-light-red {
    background-color: #fbd5d5;
  }
  
  .bg-light-green {
    background-color: #d3f8d3;
  }
  